 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Por que a Platipus foi criada?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>A Platipus é uma consultoria especializada em análise quantitativa do direito, a única do seu gênero na América Latina. Ela atua nas diversas situações onde a estatística e o uso intensivo de tecnologia conseguem agregar inteligência ao direito. Isso inclui trabalhos de mineração de dados, extração de informação das bases do Poder Público e de clientes, desenvolvimento de ferramentas de visualização de carteiras de processos, análises de risco, modelos de previsão e planejamento de pesquisas sobre temas diversos. Nossas soluções passam por temas muito variados como políticas de acordo, estratégias de defesa, tendências jurisprudenciais, estimação de lucros cessantes, análise de risco de contratos, parametrização de multas, previsão de recuperacao de créditos, dentre outros.
</p>
                </div>
            </div>
        </div>
    </section>





