 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Quem somos</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A Platipus é uma consultoria estatística especializada em problemas jurídicos, a única do seu gênero na América Latina. Ela atua nas diversas situações onde a estatística consegue agregar inteligência ao Direito e o uso intensivo de tecnologia, especialmente na mineração de dados, ajuda a extrair informação dos dados brutos constantes das bases do Poder Público e dos seus clientes.
</p>
                </div>
                <div class="col-lg-4">
                    <p>O objetivo da Platipus é, em resumo, auxiliar os advogados e as empresas a compreender com maior profundidade as consequências de suas decisões, contribuindo para o desenvolvimento de estratégias jurídicas bem sucedidas e para uma gestão mais eficaz dos processos contratados.
</p>
                    <p>A Platipus foi concebida para atuar em conjunto com advogados e estatísticos na prestação de uma consultoria essencialmente interdisciplinar. Por tal razão, ela trabalha ombro a ombro com as equipes do escritório Guedes Nunes Oliveira e Roquim Advogados, sendo responsável pelo planejamento e execução metodológica do trabalho.</p>
                </div>
            </div>
        </div>
    </section>





