 <!-- About Section -->
    <section id="chave_sucesso">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Qual a chave do sucesso da Platipus?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">

            <div class="col-lg-8 col-lg-offset-2">
<p>O objetivo da Platipus é auxiliar os advogados e as empresas a compreender e controlar as consequências de suas decisões através do desenvolvimento de estratégias jurídicas e de uma gestão eficaz.
</p>

<p>A Platipus foi concebida para atuar em conjunto com advogados e estatísticos na prestação de uma consultoria essencialmente interdisciplinar. Por tal razão, ela trabalha ombro a ombro com escritórios de advocacia, incluindo as equipes de Guedes Nunes, Oliveira e Roquim Advogados, sendo responsável pelo planejamento e execução metodológica do trabalho.</p>

                </div>
                </div>
            </div>
        </div>
    </section>





