 <!-- About Section -->
    <section id="chave_sucesso">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Qual a chave do sucesso da Platipus?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p></p>
                    <p></p>
                </div>
                <div class="col-lg-4">
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </section>





