    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/platipus_logo.png" alt="" style="display:inline">
                    <img class="img-responsive" src="img/platipus_txt.png" alt="" style="display:inline">
                    <!--<div class="intro-text"> -->
                    <span class="skills">Consultoria Quanti-Jurídica</span>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </header>
