
    <!-- Portfolio Grid Section -->
    <section class="success" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O que nos diferencia?</h2>
                    <hr class="star-primary">
                </div>
            </div>

                        <div class="row">
                <div class="col-lg-8 text-center col-lg-offset-2">
                    <p>Em uma frase: a união entre estatística e direito. Empresas e governo acumulam diariamente toneladas de informação sobre a justiça. Contratos, ações de consumidor, reclamações trabalhistas, execuções fiscais e os mais variados tipos de processos e negócios têm suas histórias registradas em bases de dados, que não são exploradas por falta de atenção e de capacidade. A Platipus é uma empresa especializada na exploração desses dados e na arte de transformá-los em informação útil aos empresários. Somos a primeira consultoria formada por estatísticos e advogados da América Latina, preocupada em reduzir a complexidade do discurso juridico e traduzir as estratégias do direito em números. Por isso isso o nome platipus. Como onirnitorrinco, um animal raro que é ao mesmo tempo mamífero e ovíparo, unimos em um único time o conhecimento jurídico e o método estatístico. Descubra algumas soluções da Platipus.</p>
                </div>

            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <span>{{  post.title  }}</span><br/><br/>
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
